@import "@fontsource/cooper-hewitt/700.css";
@import "@fontsource/cooper-hewitt/500.css";
@import "@fontsource/cooper-hewitt/400.css";
@import "@fontsource/cooper-hewitt/300.css";

img {
  width: 100%;
}

.col-flex {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.font-h {
  font-family: "Cooper Hewitt" !important;
  font-weight: 700 !important;
}

.font-p {
  font-family: "Cooper Hewitt" !important;
  font-weight: 500 !important;
}

.font {
  font-family: "Cooper Hewitt" !important;
}

.app-icons {
  width: 35%;
}

/* Navbar */

.navbar {
  box-shadow: none !important;
}

/* Header */

h1 {
  font-size: 4rem;
}

.hero-p {
  font-size: 20px;
  color: #fff;
}

.arrow-line {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.header-img1 {
  width: 57%;
}

/* How it work */

.work-list {
  padding-left: 25px;
}

.work-list li {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Home made cooking */

.homemade-img {
  width: 80%;
}

/* Happy cooking */

.banner {
  width: 500px;
  font-size: 30px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: -25%;
}

/* Footer */

footer {
  background-color: #1a1a1a;
  color: #fff;
}

.footer-links {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.footer-links:hover {
  opacity: 0.7;
}

.arrow_container {
  position: relative;
  width: 24px;
  height: 70px;
  margin: 0px auto;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.text {
  display: block;
  /* margin-bottom: 75px; */
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

html {
  scroll-behavior: smooth;
}

/* Media query */

@media screen and (max-width: 1200px) {
  .header-img1 {
    width: 80%;
  }
}

@media screen and (max-width: 1110px) {
  .h1 {
    font-size: 3.5rem !important;
  }

  .work-list li {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .h1 {
    font-size: 3rem !important;
  }

  .header-img1 {
    width: 90%;
  }
}

@media screen and (max-width: 899px) {
  .arrow-line {
    transform: rotate(0.25turn);
    left: 4%;
    right: 0;
    top: 135%;
    width: 40%;
    bottom: 0;
    margin: 0 auto;
  }

  .hero-p {
    font-size: 16px;
  }

  .col-flex {
    align-items: center;
  }

  .h1 {
    font-size: 1.9rem !important;
  }

  .header-img1 {
    display: none;
  }

  .header-img2 {
    margin-top: 2rem;
    width: 70%;
  }

  .work-list li {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .homemade-img {
    width: 60%;
  }

  .banner {
    margin-left: auto;
    width: 75%;
    margin-top: -25%;
  }

  .banner h4 {
    font-size: 20px;
  }

  .footer-links {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 899px) {
  .header-img2 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .homemade-img {
    width: 80%;
  }
}
